*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper-grid {
  display: grid;
  grid-template-columns: min-content 200px max-content;
  background-color: yellow;
}
.item {
  background-color: grey;
  border: 1px solid red;
}
