*,
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1440px;
  height: 1000px;
  border: 1px solid red;
}
.box {
  margin-top: 200px;
  height: 200px;
  background-color: red;
  margin: 1000px auto;
}
