.none {
  visibility: hidden;
}

.see {
  transform: rotate(-90deg);
}
/* ===================================== */
.hi {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateX();
}
